// BASE STYLES

*, :after, :before {
    box-sizing: border-box;
}

body {
font-family: Poppins,sans-serif;
font-size: 1rem;
letter-spacing: .4px;
color: #666;
margin: 0;
}

.page-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;    
}


/* -------- MAIN HEADER ------*/

.main-header {
    display: block;   
}

.row {
    display: inline-block;
    list-style-type: none;
    width: 100%; 
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;  
}

.row-menu {
    display: flex;
    justify-content: space-around;
}

  .chat_button_img {
    margin-left: 20px;
    height: 75px;
    width: 75px;
    background: none;
    border: none;
    float: left;
}

.logo_img {
    width: auto;
    height: 100%;
    float: left;
    margin-left: 10px;    
}

.sbutton {
 display: none;
}

.cbutton {
display: none;
}



.searchContainer {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 99%;    
    margin-left: 5px;
    margin-bottom: 5px;
}
  
  .searchBox {
    border: 0;
    padding: 10px;
    background-color: rgba(0,0,0,.1);
    width: 100%;
  }

  .searchIcon {
     position: relative;
     background-color: rgba(0,0,0,.1); 
     margin: auto;    
}
  

/* ----------MAIN NAV MENU ------------- */

.main-nav-outer {
    display: none;
}

.main-nav {    
    list-style-type: none;    
    margin: 0;
    width: 100%;
    background-color: #333645; 
    align-items: center;
    height: 100px;
}

.ul-container {
    display: none;
    color: white;
    list-style-type: none;
     width: 70%;
        li {
            display: inline;
            border: 1px solid white;            
          a {
              text-decoration: none;
              display: inline-block;
        }
    }
}

#services-list {
    display:none;
    flex-direction: row;
    
}
#services:hover ~ #services-list {
    display: flex;
    flex-direction: row; 
}

#services-list:hover {
    color: inherit;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
}

.men-but {
    flex-direction: column;
    height: 100px;
    flex-basis: 15%;
}

.menu {
    flex-direction: column;
}

 #web-dev:hover {
    background-color: #926fb1;
    list-style-type: none;
}

#it-sup:hover {
    background-color: #4183d7;
    list-style-type: none;
}

#tel-ser:hover {
    background-color: #d64541;;
    list-style-type: none;
}

#bes-sof:hover {
    background-color: #67809f;
    list-style-type: none;
}

#dig-mar:hover {
    background-color: #2ecc71;
    list-style-type: none;
}

#cyb-sec:hover {
    background-color: #f62459;;
    list-style-type: none;
}

/* ----------Banner Section ---------------*/

.top-content {
    color: white;
    font-size: 2rem;
}
.banner {    
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid #e9385a;
} 
/* ----------Middle Card Section ---------------*/

.middle {
    display: block;
    border: 3px solid red; 
    background-color: #f5f5f5af;
}

.container {    
    display: block;
    text-align: center;
    margin: 0 auto;
}

.cards {
    display: block;
    margin: 25px;
    font-size: 1.25rem;
    p {
        margin: 20 50px;
    }
}

.card {
    position: relative; 
    min-height: 1px; 
    padding: 15px;    
    border: black 3px solid;
    background-color: white;
    margin: 30px 0;
}

.fas1 {
   background-color: #67809f;
   border-radius: 50%;
   padding: 25px;
}

.fas2 {
    background-color: #4183d7;
    border-radius: 50%;
    padding: 25px;
 }

 .fas3 {
    background-color: #2ecc71;
    border-radius: 50%;
    padding: 25px;
 }

 .fas4 {
    background-color: #d64541;
    border-radius: 50%;
    padding: 25px;
 }

 .fas5 {
    background-color: #926fb1;
    border-radius: 50%;
    padding: 25px;
 }

 .fas6 {
    background-color: #f62459;
    border-radius: 50%;
    padding: 25px;
 }

 .fas7 {
    background-color: #926fb1;
    border-radius: 50%;
    padding: 25px;
 }

 .c1button {
     background-color: #67809f;
     padding: 20px 40px;
     border-radius: 3px;
     margin: 20px 0;
 }

 .c2button {
    background-color: #4183d7;
    padding: 20px 40px;
    border-radius: 3px;
    margin: 20px 0;
}

.c3button {
    background-color: #2ecc71 ;
    padding: 20px 40px;
    border-radius: 3px;
    margin: 20px 0;
}

.c4button {
    background-color: #d64541;
    padding: 20px 40px;
    border-radius: 3px;
    margin: 20px 0;
}

.c5button {
    background-color: #926fb1;
    padding: 20px 40px;
    border-radius: 3px;
    margin: 20px 0;
}

.c6button {
    background-color: #f62459;
    padding: 20px 40px;
    border-radius: 3px;
    margin: 20px 0;
}

.c7button {
    background-color: #926fb1;
    padding: 20px 40px;
    border-radius: 3px;
    margin: 20px 0;
}