// BASE STYLES

*, :after, :before {
    box-sizing: border-box;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
font-family: Poppins,sans-serif;
font-size: 1rem;
letter-spacing: .4px;
color: $body-color;
margin: 0;
}

.page-container {
    height: 100%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: $color-white;
    background-color: inherit  
}

ul {
      list-style-type: none;
      padding-inline-start: -40;
}

a {
    text-decoration: none;
} 

.slide-reveal-overlay {
    z-index: 8;
}


