//  Contact form css 

.heading {
    margin-top: 100px;
    height: 50px;
    padding-top: 1px;
}

.contact-form-details {
    display: flex;
    flex-direction: column-reverse;
}

.contact-container {
    background-color: $acontainer-color;
}

.contact-main {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.contact-home-title {
    text-align: start;
    color: $background-color-dark-grey;
}

// contact form 

.how-can {
    color: $color-white;
    background-color: $background-color-dark-grey;
    height: 90px;
    display: flex;
    align-items: center;
    margin: 0 -20px;
}
.how-can-title {
    font-weight: 500;
    font-size: 36px;
    text-align: start;
    color: $color-white;
    margin: 0 20px;
}

.form-container {
    margin: 0;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.contact-label {
    color: $background-color-dark-grey;
    text-align: start;
    width: 45%;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.form-group-message {
    width: 100%;
}

.form-control {
    height: 47px;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    border-radius: 2px;
    border-top: 1px solid $border-color-contact-form;
    border-right: 1px solid $border-color-contact-form;
    border-left: 1px solid $border-color-contact-form;
    border-bottom: 1px solid $border-color-contact-form;
}

.form-control-message {
    margin-top: 10px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.error {
    margin-left: 10px;
}

.checkbox {
    position: relative;
    text-align: start;
    width: 100%;
    display: flex;
}

.privacy-policy {
    text-decoration: underline;
    color: $background-color-dark-grey;
}

.tick-box {
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    border-radius: 5px;
    height: 32px;
    width: 64px;
    margin-left: 0;
    border: 3px solid $background-color-dark-grey;
    cursor: pointer;
}

input[type=checkbox]:checked + .label:before {
    content: "\2713";
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background-color: $background-color-dark-grey;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    height: 32px;
}

input[type=checkbox]:checked {
    display: none;
}

.tickbox-text {
    display: inline-block;
    color: $background-color-dark-grey;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 20px;
}

.p-text {
    margin: 0 0 0 44px;
}

.contact-button-submit {
    background-color: $background-color-dark-grey;
    width: 150px;
    height: 50px;
    color: $color-white;
    font-size: 19px;
    margin-top: 50px;
}

// contact details 

.contact-details {
    text-align: start;
    h3 {
        color: $background-color-dark-grey;
        font-size: 16px;
    }
}

.contact-link {
    font-size: 32px;
    color: $background-color-purple;
}

.contact-link:hover {
    text-decoration: underline;
}

.question-title {
    color: $background-color-dark-grey;
    font-size: 16px;
}

.question-title:hover {
    text-decoration: underline;
}


.question-text {
    color: $background-color-dark-grey;
    font-size: 16px;
        a {
            color: inherit;
        }  
}

.question-title-answer {
    color: $background-color-dark-grey;
    font-size: 16px;
        a {
            color: inherit;
        }
}

.arrow-active {
    margin-left: 10px;
}


.form {
    border: 1px solid #1A33FF;
    background: #ecf5fc;
    padding: 40px 50px 45px;
}

.form-control:focus {
    box-shadow: rgba(91, 192, 222, 0.6 ) 0px 0px 8px 0px;
}

.label {
    font-weight: 600;
    display: flex;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}
// red asterix for form input 
.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.input-row {
    color: black;
}

// Out of hours text 

#panel {
    display: none;
}

.block {
    margin-left: 10px;
    display: inline-block;
    padding: 0;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotateZ(180deg); 
    margin-left: 10px;
}

// contact location css 

.location-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wymondham, .great-yarmouth {
    width: 100%;
    padding: 0px 15px;
    margin: 10px 0;
}

.inner-contact-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wymondham-details, .great-yarmouth-details{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-sub-title-w, .contact-sub-title-g {
    font-size: 18px;
    position: relative;
}

.contact-sub-text {
    font-size: 13px;
}

.wymondham-details:hover, .great-yarmouth-details:hover {
    background-color: $background-color-purple;
    color: $color-white;
    .contact-sub-title-g::after, .contact-sub-title-w::after {
        background-color: $color-white;
    }
}   

.contact-icon {
    margin-top: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: $background-color-dark-grey;
    width: fit-content;
}

.contact-sub-title-w::after {
    content: "";
    position: absolute;
    left: 110px;
    top: 40px;
    margin: auto;
    width: 25px;
    height: 3px;
    display: block;
    background-color: $background-color-dark-grey;
}

.contact-sub-title-g::after {
    content: "";
    position: absolute;
    left: 46%;
    top: 70px;
    margin: auto;
    width: 25px;
    height: 3px;
    display: block;
    background-color: $background-color-dark-grey;
}

.fa-road, .fa-home {
    font-size: 33px;
    color: $color-white;
}

// Media Queries 

@media screen and (min-width: 768px) {
.wymondham, .great-yarmouth {
    width: 50%;
    height: 681px;
}

.contact-sub-title-g::after {
    top: 70px;
    left: 43%;
}

}

@media screen and (min-width: 990px) {

.heading {
    margin-top: 150px;
}

.how-can {
    background-color: inherit;
}

.how-can-title {
    color: $background-color-dark-grey;
}

.contact-sub-title-g::after {
    left: 46%;
}

.wymondham, .great-yarmouth {
    height: 662px;
}

.form-group {
    width: 49%;
}
}

@media screen and (min-width: 1260px) {
.form-container {
    width: 75%;
}

.contact-form-details {
    display: flex;
    flex-direction: row;
}

.form-container {
    margin-right: 30px;
}
.contact-link {
    font-size: 26px;
}

.contact-sub-title-g::after {
    top: 42px;
    left: 45%;
}

}
