

/* ------ clients -------*/

.clients {
    display:none;
}

/* -------- footer -------- */
.footer {
    padding-top: 20px;
    background-color: $background-color-dark-grey;
    color: $color-white;
    font-size: .8em;
    h3 {
        font-size: 1.25em;
        font-weight: 500;
    }
}

.cols1 {
    display: block;
        p { 
         color: $color-white;
}
}

.col-1 {
    color: $color-white;
    li {
        list-style-type: none;
    }
    a {
        color: $color-white;
    }
}

.col-2 {
    color: $color-white;
    li {
        list-style-type: none;
    }
    a {
        color: $color-white;
    }
}

.col-3 {
    color: $color-white;
    li {
        list-style-type: none;
    }
    a {
        color: $color-white;
    }
}

.col-4 {
    color: $color-white;
    li {
        list-style-type: none;
    }
    a {
        color: $color-white;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.75em;
}

.col-xs {
    display: flex;
    width: 40%;
    padding: 10px 0;
    background: $color-dark-dark-grey;
    color: $color-white;
    margin: 25px 25px 25px 0;
    justify-content: center;
}

.col-fb:hover {    
    background: $facebook-color;
}

.col-tw:hover {    
    background: $twitter-color;
}

.col-li:hover {    
    background: $linkedin-color;
}

/* ----- Partners ----- */

.partners {
    display: none;
}







