

/* ------ clients -------*/

.clients {
    display:none;
}

/* -------- footer -------- */
.footer {
    padding-top: 20px;
    background-color: #333645;
    color: white;
    font-size: .8em;
    h3 {
        font-size: 1.25em;
        font-weight: 500;
    }
}

.cols1 {
    display: block;
    margin-top: 20px;
     p { 
         color: white;
}
}

.col-1 {
    margin-left: 20px;
    color: white;
    li {
        list-style-type: none;
    }
    a {
        color: white;
    }
}

.col-2 {
    margin-left: 20px;
    color: white;
    li {
        list-style-type: none;
    }
    a {
        color: white;
    }
}

.col-3 {
    margin-left: 20px;
    color: white;
    li {
        list-style-type: none;
    }
    a {
        color: white;
    }
}

.col-4 {
    margin-left: 20px;
    color: white;
    li {
        list-style-type: none;
    }
    a {
        color: white;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.75em;
}

.col-xs {
    display: flex;
    width: 40%;
    padding: 10px 0;
    background: #121419;
    color: white;
    margin: 25px 25px 25px 0;
    justify-content: center;
}

.col-fb:hover {    
    background: #3b5998;;
}

.col-tw:hover {    
    background: #00aced;
}

.col-li:hover {    
    background: #0077b5;
}

/* ----- Partners ----- */

.partners {
    display: none;
}







