

/* ----------MAIN NAV MENU ------------- */

.main-nav-outer {
    display: none;
    width: 100%;
}

.main-nav {    
    position: relative;
    list-style-type: none;    
    background-color: #333645; 
}

.ul-container {
    display: inline-flex;
    color: white;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    li {
        display: flex;
        flex-direction: column;
        color: white;
        text-transform: uppercase;
            a {
            color: white;  
            text-decoration: none; 
            width: 100%;
        }                
    }
}

.men-but {
    flex-basis: 20%;
    display: flex;
    border-right: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid rgba(0,0,0,.25); 
    padding-bottom: 15px;
}


.fas-1 {
    color: #926fb1;
    border-radius: 50%;
    padding: 15px;
}

.fas-2 {
    color: #4183d7;
    border-radius: 50%;
    padding: 15px;
 }

 .fas-3 {
    color: #f62459;
    border-radius: 50%;
    padding: 15px;
 }

 .fas-4 {
    color: #67809f;
    border-radius: 50%;
    padding: 15px;
 }

 .fas-5 {
    color: #2ecc71;
    border-radius: 50%;
    padding: 15px;
 }

 .fas-6 {
    color: #f62459;
    border-radius: 50%;
    padding: 15px;
 }

 /* --------- Nav menu hoveder ---------*/

#services-list {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    display: inline-flex;
    top: 100%;    
    left: 0;
    width: 100vw;
}

.sl-container {
    display: inline-flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.services-list-wd {
    background-color: #79539a;
}

.services-list-it {
    background-color: #286abd
}

.services-list-ts {
    background-color: #bc2c28;
}

.services-list-bs {
    background-color: #526781;
}

.services-list-dm {
    background-color: #25a25a;
}

.services-list-cs {
    background-color: #de093f;
}

#services:hover ~ #services-list {
   visibility: visible;
}

#web-dev:hover {
    background-color: #926fb1;
    list-style-type: none;
    .fas-1 {
    color: white;
    }
}

#it-sup:hover {
    background-color: #4183d7;
    list-style-type: none;
    .fas-2 {
        color: white;
        }
}

#tel-ser:hover {
    background-color: #d64541;;
    list-style-type: none;
    .fas-3 {
        color: white;
        }
}

#bes-sof:hover {
    background-color: #67809f;
    list-style-type: none;
    .fas-4 {
        color: white;
        }
}

#dig-mar:hover {
    background-color: #2ecc71;
    list-style-type: none;
    .fas-5 {
        color: white;
        }
}

#cyb-sec:hover {
    background-color: #f62459;;
    list-style-type: none;
    .fas-6 {
        color: white;
        }
}