


/* -------- MAIN HEADER ------*/

.main-header {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: inline-flex;
    list-style-type: none;
    width: 100%; 
}

.row-menu {
    width: 100%;
    display: inline-flex;
    margin: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.chat_button_img {
    display: none;
}

.logo-row {
    width: 70%;
    margin-bottom: 10px;
    flex-shrink: 3;
}

.logo_img {
    width: 95%;
    height: auto; 
    flex-shrink: 3;
}

.icon-row {
    justify-content: space-between;    
}

.fa-bars {
    padding: 15px;
    background-color: #333645;
    border-radius: 5px;
    color: white;
    } 

.fa-phone-volume {
    padding: 10px;
    color: #333645;  
    margin-right: 30px;
} 

.sbutton {
 display: none;
}

.cbutton {
display: none;
}

.search-outer {
    align-self: flex-end;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    order: 1;
    margin-bottom: 10px;
}

.searchContainer {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 5px;    
    width: 100%; 
    padding: 5px 0;
}
  
.searchBox {
    background-color: rgba(0,0,0,.005);
    font-size: 1em;
    border: 0;
    width: 100%;    
  }

  .search-button {   
     height: 100%;
     align-self: center;    
     font-size: 1.25em;
     color: #333645;    
}

  