/* ----------MAIN NAV MENU ------------- */

.main-nav-outer {
    display: none;
    width: 100%;
}

.main-nav {    
    position: relative;
    list-style-type: none;    
    background-color: $background-color-dark-grey; 
    height: 100px;
    width: 100%;
}

.ul-container {
    display: inline-flex;
    flex-direction: row;
    color: $color-white;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    height: inherit;
    li {
        display: flex;
        flex-direction: column;
        color: $color-white;
        text-transform: uppercase;
            a {
            color: $color-white;  
            text-decoration: none; 
            width: 100%;
        }                
    }
}

.nav-men {
    padding: 5px 0 5px;
}

.men-but {
    flex-basis: 20%;
    display: flex;
    border-right: 1px solid $men-but-border-right;
    border-left: 1px solid $men-but-border-left; 
    height: inherit;
    margin-top: 10px;
    padding-bottom: 5px;
}


.fas-1 {
    color: $color-purple;
    border-radius: 50%;
}

.fas-2 {
    color: $color-blue;
    border-radius: 50%;
 }

 .fas-3 {
    color: $color-red;
    border-radius: 50%;
 }

 .fas-4 {
    color: $color-grey;
    border-radius: 50%;
 }

 .fas-5 {
    color: $color-green;
    border-radius: 50%;
 }

 .fas-6 {
    color: $color-red;
    border-radius: 50%;
 }

 #nav-men-wd {
     display: flex;
     flex-direction: column;
 }

 #nav-men-wd::after {
    padding-bottom: 100px;
    background-color: transparent;
}

 #nav-men-is {
    display: flex;
    flex-direction: column;
}

#nav-men-ts {
    display: flex;
    flex-direction: column;
}

#nav-men-bs {
    display: flex;
    flex-direction: column;
}

#nav-men-dm {
    display: flex;
    flex-direction: column;
}

#nav-men-cs {
    display: flex;
    flex-direction: column;
}

 /* --------- Nav menu hover ---------*/

#services-list-wd,
#services-list-it,
#services-list-ts,
#services-list-bs,
#services-list-dm,
#services-list-cs {   
    visibility: hidden;
    position: absolute;
    z-index: 1;
    display: inline-flex;
    top: 100%;    
    left: 0;
    width: 100vw;
}

.sl-container {
    display: flex;
    position: relative;
    height: 45px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-content: center;
    font-size: 16px;
}

.services-list-wd {
    background-color: $background-color-purple;
}

.services-list-it {
    background-color: $background-color-blue;
}

.services-list-ts {
    background-color: $background-color-red;
}

.services-list-bs {
    background-color: $background-color-grey;
}

.services-list-dm {
    background-color: $background-color-green;
}

.services-list-cs {
    background-color: $background-color-red-2;
}

#web-dev:hover > ul {
    display: block;
   visibility: visible;
}

#it-sup:hover > ul {
    visibility: visible;
}

#tel-ser:hover > ul {
    visibility: visible;
}

#bes-sof:hover > ul {
    visibility: visible;
}

#dig-mar:hover > ul {
    visibility: visible;
}

#cyb-sec:hover > ul {
    visibility: visible;
}

#web-dev:hover {
    background-color: $color-purple;
    list-style-type: none;
    .fas-1 {
    color: $color-white;
    }
}

#it-sup:hover {
    background-color: $color-blue;
    list-style-type: none;
    .fas-2 {
        color: $color-white;
        }
}

#tel-ser:hover {
    background-color: $color-red-2;
    list-style-type: none;
    .fas-3 {
        color: $color-white;
        }
}

#bes-sof:hover {
    background-color: $color-grey;
    list-style-type: none;
    .fas-4 {
        color: $color-white;
        }
}

#dig-mar:hover {
    background-color: $color-green;
    list-style-type: none;
    .fas-5 {
        color: $color-white;
        }
}

#cyb-sec:hover {
    background-color: $color-red;;
    list-style-type: none;
    .fas-6 {
        color: $color-white;
        }
}