


/* -------- MAIN HEADER ------*/

.main-header {
    background-color: $color-white;
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.row {
    display: flex;
    width: 100%; 
    margin-bottom: 10px;
}

.container-h {
    display: flex;
    justify-content: center;
}

.row-menu {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}

.chat_button_img {
    display: none;
}

.logo-row {
    display: flex;
    flex-grow: 1;
    width: 50%;
}

.logo_img {
    width: 100%;
    height: auto;    
}

.button-row {
    display: inline-flex;
    align-items: center;   
    order: 1; 
    width: 100%;
    margin-top: 10px;
}

.ssrow {
    display: flex;
    flex-grow: 1;
    margin: 0px 5px;
}

.icon-row {
    display: inline-flex;
    justify-content: center;  
    flex-grow: 1; 
}

.m_button {
    display: none;
    padding: 3px 5px;
    background-color: $background-color-dark-grey;
    border-radius: 5px;
    color: $color-white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    margin-top: 10px;
  }
  
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $color-white;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: $color-white;
}

.search-button {   
    align-self: center;    
    font-size: 1.25em;
    color: $background-color-dark-grey;    
    padding: 4px;
    order: 2; 
    background-color: $search-btn-outr-background-color;
    border-top: 2px solid $color-light-light-grey;
    border-bottom: 2px solid $color-light-light-grey;
    border-right: 2px solid $color-light-light-grey;
}

.fa-phone-volume {
    padding: 10px;
    color: $background-color-dark-grey; 
    font-size: 4.5em;
    margin-left: auto;
    margin-right: auto;
} 

.sbutton {
 display: none;
}

.cbutton {
display: none;
}

.search-outer {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
    width: 100%;
    background-color: $search-btn-outr-background-color;
    order: 1;
}

.search-container {
    display: inline-flex;
    border-top: 2px solid $color-light-light-grey;
    border-bottom: 2px solid $color-light-light-grey;
    border-left: 2px solid $color-light-light-grey;
    border-radius: 5px 0px 0 0;    
    width: 100%; 
}
  
.search-box {
    background-color: $search-box-background-color;
    font-size: 1em;
    border: 0;
    width: 100%;   
    padding: 10px; 
  }



  