
@media screen and (min-width: 768px) {

    /* -------- MAIN HEADER ------*/
    

    
.row {
    display: inline-flex;
    list-style-type: none;
    width: 100%; 
    justify-content: space-between;
}
    
.row-menu {
    display: inline-flex;
    width: 100%;  
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 10px;
    justify-content: space-between;
}    

.logo-row {
    margin: 0;
}

.logo_img {      
    height: auto;       
}
    
.icon-row {
    display: flex;
    margin-top: 10px;
}
    
#phone {
    display: none;
} 
    
   
.search-outer {   
    order: 0;   
    width: 50%;
    align-self: baseline;
    margin-right: 10px;
    margin-top: 10px;
    height: 60px;
    background-color: white;
 }
    
 .search-container {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 5px;  
    height: inherit;   
}
      
.search-box {
    font-size: 1em;
    border: 0;     
}
    
.search-button {  
    height: inherit;
    background-color: #999aa2;
    width: 50%;   
    color: white;
}
    
    
    
    /* ----------Middle Card Section ---------------*/
    
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 60px;
}

.card1, .card2, .card3 {    
    width: 100%;     
}
    
.card4, 
.card5, 
.card6, 
.card7 {
    width: 48%; 
}
    
    
    
    /* ------------- Latest/Blog --------------- */
    
    
.cols {
    display: inline-flex;
    flex-direction: row;
    
}
    
.col-lg1,
.col-lg2  {
    width: 45%;
}
    
.col-lg3 {
    display: none;
}

.img-container {
    position: relative;
    border-radius: 3px 3px 0 0;
}
    
    /* ------ clients -------*/
    
.clients {
    display: block;
    width: 100%;
}
    
.clients-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}
    
.client {
    flex-shrink: 1;
        img {
        width: 65%;
        max-width:100%;
        height:auto;
        filter: saturate(0);
        }
}
    
.client img:hover {
    filter: saturate(1);
 }

  
.client:hover .client-description {
    display: block;
    margin-bottom: 50px
}

.client-description {
    display: none;
    position: relative;
    color: white;
    .box {
        position: relative;
        max-width: 260px;
        max-height: 150px;
        padding: 25px 5px 5px;
        background-color: #333645;
    }
    h2 {
        position: relative;
        font-size: 1rem;
        color: #fff;
        padding-bottom: 20px;
        margin: 0 0 11px;
    } p {
        font-size: .7125rem;
        line-height: .75rem;
        margin-bottom: 0;
    }
    .arrow {
        position: absolute;
        left: 40%;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid #333645;
    }
}


    
    /* -------- footer -------- */
    .footer {
        background-color: #333645;
        color: white;
    }
    
    .cols1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
         p { 
             color: white;
             font-size: 0.85em;
    }
    }
    
    .col-1, .col-2, .col-3 {
        width: 35%;
        color: white;
        li {
            list-style-type: none;
        }
        a {
            color: white;
        }
    }
    
    .col-4 {
        width: 35%;
        color: white;
        justify-content: flex-start;
        li {
            list-style-type: none;
        }
        a {
            color: white;
        }
    }
    
    .row1 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .col-xs {
        width: 43%;
        background: #121419;
        color: white;
        margin: 15px 15px 15px 0;
    }
    
    
    // /* ----- Partners ----- */
    
    .partners {
        display: flex;
        width: 100%;
        align-content: center;
    }
    
    .partners-container {
        width: 100%; 
    }
    
    .partner-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;   
    }
    
    .partner {
        margin: 20px 0px;  
        flex: 0 0 auto; 
        img {
        filter: saturate(0);
        } 
    }
    
    .partner1 {
        img {
            max-width:90%;
        }
    }
           
    .partner img:hover {
        filter: saturate(1);
     }

}
    
    