
@media screen and (min-width: 768px) {

    /* -------- MAIN HEADER ------*/
    


.container-h {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
}
    
.row-menu {
    flex-wrap: nowrap;
    margin-bottom: 10px;
    align-items: center;
}    

.logo_img { 
    width: 90%;     
    height: auto;       
}
    
.button-row {
    order: 0;
    width: auto;
    margin-top: 0;
}

.icon-row {
    display: flex;
    height: 60px;
}
    
#phone {
    display: none;
} 

.search-button {  
    height: 60px;
    background-color: $color-light-grey;
    width: 40%;   
    color: $color-white;
}
   
.search-outer {   
    order: 0;   
    align-self: baseline;
    height: 60px;
    background-color: $color-white;
    margin: 0;
 }
    
.search-container {
    height: inherit;
}
 
.m_button {
    justify-content: center;
    height: auto;
    align-content: center;
    border: 1px solid $background-color-dark-grey;
    margin-top: 0;
} 

    /* ----------Middle Card Section ---------------*/

.container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}


.card1, .card2, .card3 {    
    width: 100%;     
}
    
.card4, 
.card5, 
.card6, 
.card7 {
    width: 50%; 
}
    
    
    
    /* ------------- Latest/Blog --------------- */
   
.latest-row {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
}

.cols {
    width: 750px;
    margin-right: auto;
    margin-left: auto;   
}
    
.col-lg1,
.col-lg2  {
    width: 45%;
}
    
.col-lg3 {
    display: none;
}

.img-container {
    position: relative;
    border-radius: 3px 3px 0 0;
}
    
    /* ------ clients -------*/
    
.clients {
    display: block;
    width: 100%;
}
    
.clients-container {
    width: 750px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto 10px;
}
    
.client {
    position: relative;
    text-align: center;
    min-width: 150px;
    max-width: 200px;
        img {
        max-width:100%;
        height:auto;
        margin-top: 25px;
        }
}

.client-description {
    visibility: hidden;
    position: relative;
    color: $color-white;
    flex-basis: 25%;
    align-items: center;
    text-align: center;
    .box {
        position: absolute;
        width: inherit;
        max-width: 260px;
        max-height: 200px;
        padding: 25px;
        background-color: $background-color-dark-grey;
        bottom: 100%;       
    }
    h2 {
        position: relative;
        font-size: .8rem;
        color: #fff;
        padding-bottom: 20px;
        margin: 0 0 11px;
    } p {
        font-size: .7125rem;
        line-height: .75rem;
        margin-bottom: 0;
    }
    .arrow {
        position: absolute;
        left: 50%;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 50px solid $background-color-dark-grey;
        margin-left: -50px;  
    }
}

.box {
    h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    display: block;
    background-color: #fff;
}
}

.client-1, .client-2, .client-3, .client-4 {
    display: none;
}

/* -------- Hover text appears ---- */
 
.client:hover .client1 {
    display: none;
}

.client:hover .client-1 {
    display: block;
}

.client:hover .client2 {
    display: none;
}

.client:hover .client-2 {
    display: block;
}

.client:hover .client3 {
    display: none;
}

.client:hover .client-3 {
    display: inline;
}

.client:hover .client4 {
    display: none;
}

.client:hover .client-4 {
    display: block;
}

  
.client:hover .client-description {
    visibility: visible;
}

    
/* -------- footer -------- */
.footer {
    background-color: $background-color-dark-grey;
    color: $color-white;
}
    
.cols1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
        p { 
            color: $color-white;
            font-size: 0.85em;
    }
}
    
.col-1, .col-2, .col-3 {
    width: 35%;
    color: $color-white;
        li {
           list-style-type: none;
        }
        a {
           color: $color-white;
        }
}
    
.col-4 {
    width: 35%;
    color: $color-white;
    justify-content: flex-start;
        li {
            list-style-type: none;
        }
        a {
            color: $color-white;
        }
}
    
.row1 {
    display: flex;
    flex-wrap: wrap;
}
    
.col-xs {
    width: 43%;
    background: $color-dark-dark-grey;
    color: $color-white;
    margin: 0px 15px 15px 0;
}
    
    
 /* ----- Partners ----- */
    
.partners {
    display: flex;
    width: 100%;
    align-content: center;
}
    
.partners-container {
    width: 100%; 
}
    
.partner-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
    
.partner {
    margin: 20px 0px;  
    flex: 0 0 auto; 
}
    
.partner-1, .partner-3, .partner-4, .partner-5{
    display: none;
}
 
.partner:hover .partner1 {
    display: none;
}

.partner:hover .partner-1 {
    display: inline;
}

.partner:hover .partner3 {
    display: none;
}

.partner:hover .partner-3 {
    display: inline;
}

.partner:hover .partner4 {
    display: none;
}

.partner:hover .partner-4 {
    display: block;
}

.partner:hover .partner5 {
    display: none;
}

.partner:hover .partner-5 {
    display: block;
}

}
    
    