@media screen and (min-width: 1260px) {


.container-h {
    width: 1200px;
}

.row-menu {
    width: 1200px;
}

.logo-row {
    width: auto;
}

.logo_img {
    width: auto;
}

.sbutton, .cbutton {
    width: 25%;
}

.ssrow {
 flex-basis: auto;
}

.search-outer {
    display: flex;
    width: 100%;
}

.search-container {
    display: flex;
}

.search-button {
    width: 35%;
}


/*------ Nav Bar ----- */

.sl-container {
width: 1200px;
}

/*--------- Banner ----------*/

.banner-content {
    justify-content: start;
}

/* -------- Middle ----------- */

.container {
    width: 1200px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1,125em;
}

.card1, .card2, .card3 {    
    width: 33%;     
}

.card4, 
.card5, 
.card6, 
.card7 {
  width: 25%; 
}

/*------- bottom ------*/

.text-box {
    width: 50%;
}

/*-------- Blog -------*/

.latest-row {
    width: 1200px;
}

.cols {
    width: 1200px;
}

.col-lg {
    width: 30%;
}

.col-lg3 {
    display: block;
}

.clients-container {
    width: 1200px;
}

/* --------- footer -----*/

.col-1, .col-2, .col-3, .col-4 {
    width: 22%;
    margin-left: 20px;
}


}