

@media screen and (min-width:990px) {

    /* -- main-header -- */

.row {
    margin-bottom: 10px;
}

.container-h {
    width: 970px;
}

.row-menu {
    width: 970px;
    margin-bottom: 10px;
    height: 60px;
}

.logo-row {
    height: 60px;
}

.button-row {
    width: 60%;
    justify-content: space-around;
    height: 60px;
}

.ssrow {
    flex-grow: 0;
    justify-content: flex-end;
    flex-basis: 15%;
}

.sbutton, .cbutton {
    display: flex;
    background-color: $color-blue;
    border-color: $color-blue;
    border-radius: 3px;
    color: $color-white;
    height: 60px;
    width: 30%;
    align-items: center;
    justify-content: space-around;
    font-size: 1.25em;
    text-transform: uppercase;
}

.search-container {
    display: none;
}

.search-outer {
    display: none;
}
   
.m-button {
    margin-top: 0;
    height: 60px;
}

.search-button {
    width: 100%;
    align-self: flex-end;
    font-size: 1.5em;
}

#search-button:hover ~.sbutton {
    visibility: hidden;
}

.m-button {
    width: 100%;
}

/* ----------MAIN NAV MENU ------------- */

.main-nav-outer {
    display: inline-block
}

.sl-container {
    width: 970px;
}

/* -------- Middle ----------- */

.container {
    width: 970px;
}

.card1, .card2, .card3 {    
    width: 33.3%;     
}

.card4, 
.card5, 
.card6, 
.card7 {
  width: 50%; 
}

   
/*----------------- Bottom Content ------------ */

.culture-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.netmatters.co.uk/assets/images/branded.png");
    color: $color-white;
    width: 100%;
    height: 100%;
}

/* ------- Blog -----------*/

.latest-row {
    width: 970px;
}

.cols {
    width: 970px;
}

.col-lg {
    width: 30%;
} 

.col-lg3 {
    display: flex;
}

.clients-container {
    width: 970px;

}

/* ------- Clients -----------*/

.clients-container {
    width: 970px;
}


}