

/* ----------Banner Section ---------------*/

.banner-container {
    background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.99)),url("../Imgs/home.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: white;
    display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    border: 1px solid black;    
}


.banner-text {
    width: 400px;
    margin: 5px;
    text-align: center;
    h2 {
        font-size: 2.75em;
        font-weight: 400;
    }
    p {
        font-size: 1.25em;
    }

    .more-button {
        background-color: #926fb1;
        padding: 10px 20px;
        border-radius: 3px;
        margin: 10px 0;
    }
}

/* ----------Middle Card Section ---------------*/

.middle {
    display: block;
    background-color: #f5f5f5af;
}

.container {    
    display: block;
    text-align: center;
    margin: 0 auto;
}

.cards {    
    display: block;
    margin: 25px;
    font-size: 1rem;
}

.card {
    position: relative; 
    min-height: 1px; 
    padding: 15px;    
    background-color: white;
    margin: 20px 0;
    border: 1px solid #ccc;
    font-size: 0.8em;
    h2 {
        font-size: 1.25em;
        font-weight: 400;
    }
}

span.h2:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 3px;
    display: block;
    background-color: #333645;
}

.card {  
    a:visited {
        color: inherit;
    }    
    p {
        margin-top: 30px;
    }
}

.icon {
    color: white;
    font-size: 1.438rem;
    line-height: 58px;
}


.fas1 {
   background-color: #67809f;
   border-radius: 50%;
   padding: 15px;
   }

.fas2 {
    background-color: #4183d7;
    border-radius: 50%;
    padding: 15px;
 }

 .fas3 {
    background-color: #2ecc71;
    border-radius: 50%;
    padding: 15px;
 }

 .fas4 {
    background-color: #d64541;
    border-radius: 50%;
    padding: 15px;
 }

 .fas5 {
    background-color: #926fb1;
    border-radius: 50%;
    padding: 15px;
 }

 .fas6 {
    background-color: #f62459;
    border-radius: 50%;
    padding: 15px;
 }

 .fas7 {
    background-color: #926fb1;
    border-radius: 50%;
    padding: 15px;
 }

 .buttonc {
     font-size: 1.125em;
     text-transform: uppercase;
     font-weight: 400;

 }

 .c1button {
     background-color: #67809f;
     padding: 10px 20px;
     border-radius: 3px;
     margin: 10px 0;
 }

 .c2button {
    background-color: #4183d7;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px 0;
}

.c3button {
    background-color: #2ecc71 ;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px 0;
}

.c4button {
    background-color: #d64541;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px 0;
}

.c5button {
    background-color: #926fb1;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px 0;
}

.c6button {
    background-color: #f62459;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px 0;
}

.c7button {
    background-color: #926fb1;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px 0;
}
