/* -------- dashes in nav bar -------- */

.sl-item-1, .sl-item-2, .sl-item-3, .sl-item-4, .sl-item-5, .sl-item-6,
.sl-item-7, .sl-item-8, .sl-item-9, .sl-item-10, .sl-item-11, .sl-item-12,
.sl-item-13, .sl-item-14, .sl-item-15, .sl-item-16, .sl-item-17, .sl-item-18,
.sl-item-19, .sl-item-20, .sl-item-21, .sl-item-22, .sl-item-23, .sl-item-24,
.sl-item-25, .sl-item-26, .sl-item-27, .sl-item-28, .sl-item-29, .sl-item-30,
.sl-item-31, .sl-item-32, .sl-item-33, .sl-item-34, .sl-item-35, .sl-item-36 {
    position: relative;
}

.sl-item-1::after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-2:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-3:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-4:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-5:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-6:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-7:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-8:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-9:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-10:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-11:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-12:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-13:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-14:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-15:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-16:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-17:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-18:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-19:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-20:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-21:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-22:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-23:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-24:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-25:after {
    content: "";
    position: absolute;
    right: -80px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-26:after {
    content: "";
    position: absolute;
    right: -80px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-27:after {
    content: "";
    position: absolute;
    right: -80px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-28:after {
    content: "";
    position: absolute;
    right: -80px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-29:after {
    content: "";
    position: absolute;
    right: -80px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-30:after {
    content: "";
    position: absolute;
    right: -60px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-31:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-32:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-33:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-34:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-35:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}

.sl-item-36:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 12px;
    margin: auto;
    width: 10px;
    height: 3px;
    display: block;
    background-color: $color-white;
}
