// Side Menu Nav Bar 

.sidebar {
	background: $background-color-dark-grey;
    // position: fixed;
    border-top: 1px solid rgba(0,0,0,.25);
    // overflow: scroll;
    z-index: 9;
}

.parent {
    width: 400px;
    height: 200px;
    border: 1px solid #aaa;
    overflow: hidden;
  }
  .child {
    height: 100%;
    margin-bottom: -50px; /* maximum width of scrollbar */
    padding-bottom: 50px; /* maximum width of scrollbar */
    margin-right: -50px; /* maximum width of scrollbar */
    padding-right: 50px; /* maximum width of scrollbar */
    overflow: scroll;
  }

.sb-heading {
    list-style: none;
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid rgba(0,0,0,.25);
}

.sidebar li a {
    display: block;
	color: $color-white;
	font-size: 16px;
	margin: 0;
	font-weight: 300;
    text-align: left;
    padding: 20px;
}

.sb-heading ul li a {
	display: block;
	color: #fff;
	font-size: 14px;
    font-weight: 300;
    padding: 15px 20px;
    border-top: 1px solid rgba(0,0,0,.45);
    background-color: rgba(0,0,0,.25);
}

.sb-heading li a:before {
    content: "\BB";
    padding-right: 15px;
}

.sb-heading:hover {
    background: rgba(255, 255, 255, 0.05);
}

// Side nav bar 

.nav-container-2 {
    display: flex;
    flex-direction: column;
    color: $color-white;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    li {
        display: flex;
        flex-direction: column;
        color: $color-white;
        text-transform: uppercase;
            a {
            color: $color-white;  
            text-decoration: none; 
            width: 100%;
        }                
    }
}

.container2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    margin: 20px 0 0;
    .sb-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .sb-li {
            display: flex;
            align-items: center;
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.1);
            a {
                text-align: center;
                display: contents;
            } 
        }
    }
}

.sb-li:hover {
    background: rgba(255, 255, 255, 0.05);
}

.sb-sl-men {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    li {
        display: flex;
        align-items: center;
        width: 100%;    
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        background-color: rgba(0,0,0,.25); 
        a {
            text-align: center;
        }  
    }
}

.sb-contact {
    padding: 20px;
}

.sb-serv {
    padding: 15px 0;
}


// Side bar scroll 

.sidebar:hover {
    overflow: scroll;
 } 

.fixed-position {
    position: fixed;
} 


// Cookies


.modal {
    width: 600px;
    background: #fff;
    position: absolute;
    top: 225px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
    display: none;
    flex-direction: column;
    box-shadow: 0 10px 25px #BDBDBD;
    z-index: 40;
    
    &.show {
      display: flex;
    }

.cookie_buttons {
    text-align: center;
    display: flex;
    justify-content: space-between;
        .settings_button {
        padding: 5px 0;
        margin: 20px 10px 20px 20px;
        font-size: 17px;
        line-height: 35px;
        letter-spacing: 0.4px;
        cursor: pointer;
        background-color: $color-light-grey;
        width: 47%;
        border-radius: 3px;
    }
    .accept_cookies {
        margin: 20px 20px 20px 10px;
        font-size: 17px;
        line-height: 35px;
        letter-spacing: 0.4px;
        cursor: pointer;
        background-color: $color-purple;
        width: 47%;
        border-radius: 3px;
    }
  }
}

.cookie_title {
    margin: 20px;
    h2 {
        font-weight: 400;
        font-size: 26px;
        color: $background-color-dark-grey;
    }
}
.cookie_text {
    border-top: $cookie-border 1px solid;
    border-bottom: $cookie-border 1PX solid;
    p {
        margin: 20px;
    }
}

#acceptCookies:hover {
    background-color: $find-more-button-1;
    box-shadow: rgba(0,0,0,0.125) 0px 3px 5px 0px inset;
}

#settings_button:hover {
    background-color: $color-settings;
    box-shadow: rgba(0,0,0,0.125) 0px 3px 5px 0px inset;
}

#acceptCookies:focus {
    outline: none;
}

#settings_button:focus {
    outline: none;
}


// Scroll Nav Bar 

#scroll_nav {
    width: 100%;
    position: fixed;
    top: 0;
    transition: top .4s;
    transition-delay: .5s;
    z-index: 90;
}
